// hero
.hero {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 821px;
	padding-bottom: 161px;
	margin-bottom: -161px;
	background: url(../i/hero.jpg) 50% 100% no-repeat;
	background-size: auto 100%;

	&__logo {}
	&__mission {
		margin-top: 46px;
		color: $clr-inv;
		font-family: $hdr-ff;
		line-height: 1;
		text-transform: uppercase;
		dt {
			margin-bottom: 0.4em;
			font-size: 20px;
			letter-spacing: 0.02em;
		}
		dd { color: $clr-orange; }
	}

	// lg
	@media only screen and (max-width: $bp-lg) {
		height: 750px;
	}

	// md
	@media only screen and (max-width: $bp-md) {
		height: 700px;
		margin-bottom: -200px;
		padding-bottom: 140px;
	}
	// sm
	@media only screen and (max-width: $bp-sm) {
		height: 650px;
		padding-bottom: 120px;
		&__mission {
			max-width: 50%;
		}
	}

}