/*

//
// mailiq test project
//


//
// namespace
//

_   = space (between words)
-   = space (for atomic, modificators )
__  = element
--  = modificator

.x          // block
.x_a        // block

.x__y       // element
.x__y_a     // element

.x--z       // block modificator
.x--z-b     // block modificator
.x__y--z    // element modificator



//
// measurements
//

colors            - scss variables
font-size         - pixels
line-height       - number (unitless)
hx vert margins   - em
vert gaps         - pixels



//
// comments
//

fb - fallback
pp - pixel perfect
fx - fix (something)



//
// structure (of css)
//

side       - libs styles
proj       - project`s base styles
helpers    - helpful things
blocks     - blocks!
modules    - composite blocks

*/
/* 
changed: `max(` to `Max(` to fix gulp sass bug 
see for details: https://github.com/fancyapps/fancybox/issues/2182#issuecomment-763374376
*/
body.compensate-for-scrollbar {
  overflow: hidden;
}

.fancybox-active {
  height: auto;
}

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden;
}

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  transform: translateZ(0);
  width: 100%;
  z-index: 99992;
}

.fancybox-container * {
  box-sizing: border-box;
}

.fancybox-bg, .fancybox-inner, .fancybox-outer, .fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.9;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-caption, .fancybox-infobar, .fancybox-navigation .fancybox-button, .fancybox-toolbar {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity 0.25s ease, visibility 0s ease 0.25s;
  visibility: hidden;
  z-index: 99997;
}

.fancybox-show-caption .fancybox-caption, .fancybox-show-infobar .fancybox-infobar, .fancybox-show-nav .fancybox-navigation .fancybox-button, .fancybox-show-toolbar .fancybox-toolbar {
  opacity: 1;
  transition: opacity 0.25s ease 0s, visibility 0s ease 0s;
  visibility: visible;
}

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-toolbar {
  right: 0;
  top: 0;
}

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  transform: translateZ(0);
  z-index: 99994;
}

.fancybox-is-open .fancybox-stage {
  overflow: hidden;
}

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: transform, opacity;
  white-space: normal;
  width: 100%;
  z-index: 99994;
}

.fancybox-slide:before {
  content: "";
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.fancybox-is-sliding .fancybox-slide, .fancybox-slide--current, .fancybox-slide--next, .fancybox-slide--previous {
  display: block;
}

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0;
}

.fancybox-slide--image:before {
  display: none;
}

.fancybox-slide--html {
  padding: 6px;
}

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

.fancybox-slide--image .fancybox-content {
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  transform-origin: top left;
  transition-property: transform, opacity;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995;
}

.fancybox-can-zoomOut .fancybox-content {
  cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-content {
  cursor: zoom-in;
}

.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content {
  cursor: grab;
}

.fancybox-is-grabbing .fancybox-content {
  cursor: grabbing;
}

.fancybox-container [data-selectable=true] {
  cursor: text;
}

.fancybox-image, .fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-slide--iframe .fancybox-content, .fancybox-slide--map .fancybox-content, .fancybox-slide--pdf .fancybox-content, .fancybox-slide--video .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%;
}

.fancybox-slide--video .fancybox-content {
  background: #000;
}

.fancybox-slide--map .fancybox-content {
  background: #e5e3df;
}

.fancybox-slide--iframe .fancybox-content {
  background: #fff;
}

.fancybox-iframe, .fancybox-video {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0;
}

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%;
}

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  transition: color 0.2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px;
}

.fancybox-button, .fancybox-button:link, .fancybox-button:visited {
  color: #ccc;
}

.fancybox-button:hover {
  color: #fff;
}

.fancybox-button:focus {
  outline: none;
}

.fancybox-button.fancybox-focus {
  outline: 1px dotted;
}

.fancybox-button[disabled], .fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none;
}

.fancybox-button div {
  height: 100%;
}

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
}

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0;
}

.fancybox-button--fsenter svg:nth-child(2), .fancybox-button--fsexit svg:first-child, .fancybox-button--pause svg:first-child, .fancybox-button--play svg:nth-child(2) {
  display: none;
}

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: 0;
  transition-property: transform;
  transition-timing-function: linear;
  z-index: 99998;
}

.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: 0.8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;
}

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1;
}

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0;
}

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden;
}

.fancybox-is-scaling .fancybox-close-small, .fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none;
}

.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px;
}

.fancybox-navigation .fancybox-button div {
  padding: 7px;
}

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  left: env(safe-area-inset-left);
  padding: 31px 26px 31px 6px;
}

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0;
  right: env(safe-area-inset-right);
}

.fancybox-caption {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, transparent);
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 75px 44px 25px;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 99996;
}

@supports (padding: max(0px)) {
  .fancybox-caption {
    padding: 75px max(44px, env(safe-area-inset-right)) max(25px, env(safe-area-inset-bottom)) max(44px, env(safe-area-inset-left));
  }
}
.fancybox-caption--separate {
  margin-top: -50px;
}

.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all;
}

.fancybox-caption a, .fancybox-caption a:link, .fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none;
}

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline;
}

.fancybox-loading {
  animation: a 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999;
}

@keyframes a {
  to {
    transform: rotate(1turn);
  }
}
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  transform: translateZ(0);
}

.fancybox-fx-fade.fancybox-slide--next, .fancybox-fx-fade.fancybox-slide--previous {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(1.5, 1.5, 1.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  transform: scaleX(1);
}

.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  transform: rotate(-1turn);
}

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  transform: rotate(1turn);
}

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  transform: rotate(0deg);
}

.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  transform: scaleX(1) translateZ(0);
}

.fancybox-fx-tube.fancybox-slide--previous {
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
  transform: translateZ(0) scale(1);
}

@media (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px;
  }
  .fancybox-slide--image {
    padding: 6px 0;
  }
  .fancybox-close-small {
    right: -6px;
  }
  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px;
  }
  .fancybox-caption {
    padding-left: 12px;
    padding-right: 12px;
  }
  @supports (padding: max(0px)) {
    .fancybox-caption {
      padding-left: max(12px, env(safe-area-inset-left));
      padding-right: max(12px, env(safe-area-inset-right));
    }
  }
}
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center;
}

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px;
}

.fancybox-share p {
  margin: 0;
  padding: 0;
}

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.fancybox-share__button:link, .fancybox-share__button:visited {
  color: #fff;
}

.fancybox-share__button:hover {
  text-decoration: none;
}

.fancybox-share__button--fb {
  background: #3b5998;
}

.fancybox-share__button--fb:hover {
  background: #344e86;
}

.fancybox-share__button--pt {
  background: #bd081d;
}

.fancybox-share__button--pt:hover {
  background: #aa0719;
}

.fancybox-share__button--tw {
  background: #1da1f2;
}

.fancybox-share__button--tw:hover {
  background: #0d95e8;
}

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px;
}

.fancybox-share__button svg path {
  fill: #fff;
}

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  width: 212px;
  z-index: 99995;
}

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.fancybox-show-thumbs .fancybox-thumbs {
  display: block;
}

.fancybox-show-thumbs .fancybox-inner {
  right: 212px;
}

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px;
}

.fancybox-thumbs__list a:before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991;
}

.fancybox-thumbs__list a:focus:before {
  opacity: 0.5;
}

.fancybox-thumbs__list a.fancybox-thumbs-active:before {
  opacity: 1;
}

@media (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px;
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px;
  }
  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px);
  }
}
/** start - reset & normalize
------------------------------------------------------------------ */
/*
1. Always show scrollbar
2. Prevent adjustments of font size after orientation changes in iOS & another
*/
html {
  overflow-y: scroll; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  text-size-adjust: 100%; /* 2 */
}

/* reset margin for <body> */
body {
  margin: 0;
}

/* block behavior for html5 tags in old browsers */
article, aside,
details, dialog,
figcaption, figure, footer,
header, hgroup,
main, menu, nav,
section, summary {
  display: block;
}

/* ie fix */
[hidden] {
  display: none;
}

a {
  background-color: transparent;
}

/* remove outline when mouse ON element */
a:active,
a:hover {
  outline-width: 0;
}

/*
fix weight if base (body) font-weight is not "normal" (400), because default weight for "b" & "strong" is "bolder"
*/
b,
strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  border: none;
  vertical-align: top;
}

figure {
  margin: 0 auto;
}

svg {
  display: block;
}

nav ol,
nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}

sup,
sub {
  position: relative;
  top: -0.6em;
  font-size: 68.75%;
  line-height: 1;
  vertical-align: baseline;
}

sub {
  top: 0.3em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
	forms
*/
/* inherit base values */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* ie / edge fix */
button,
input {
  overflow: visible;
}

/* ie10+ fix */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

:disabled {
  cursor: not-allowed;
}

/* webkit fix */
input[type=search],
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* ff fix */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* remove outline when hover */
input:hover,
button:hover,
select:hover,
textarea:hover,
input:hover:focus,
button:hover:focus,
select:hover:focus,
textarea:hover:focus {
  outline-width: 0;
}

textarea {
  overflow: auto; /* ie fix */
  resize: vertical;
}

/** / start
------------------------------------------------------------------ */
/** fonts
------------------------------------------------------------------ */
/* Oranienbaum */
@font-face {
  font-family: "Oranienbaum";
  src: url("../fonts/oranienbaum-regular.woff2") format("woff2"), url("../fonts/oranienbaum-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-light.woff") format("woff2"), url("../fonts/roboto-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.woff") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold.woff") format("woff2"), url("../fonts/roboto-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*

font-weight:

100 - Thin
200 - Extra Light
300 - Light
400 - Normal / Regular
500 - Medium
600 - Semi Bold / Demi Bold
700 - Bold
800 - Extra Bold / Ultra Bold
900 - Black / Heavy

*/
/** / fonts
------------------------------------------------------------------ */
html,
body {
  color: #000;
  background: #000;
}

body {
  overflow-x: hidden;
  font-size: 100%;
  line-height: 1.75;
  font-weight: 300;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

a {
  color: #266494;
  text-decoration: none;
  transition: color 0.2s ease;
}
a:hover {
  color: #6fc4d4;
}

.a_i {
  color: inherit;
}
.a_i:hover {
  color: #6fc4d4;
}

.a_iu {
  color: inherit;
  text-decoration: underline;
}
.a_iu:hover {
  color: inherit;
  text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 1em 0 0.5em;
  font-family: Oranienbaum, Times, "Times New Roman", serif;
  font-weight: normal;
  text-transform: uppercase;
}

h1, .h1 {
  font-size: 40px;
  line-height: 1;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 28px;
}

@media only screen and (max-width: 767.98px) {
  h1, .h1 {
    font-size: 36px;
  }
  h2, .h2 {
    font-size: 28px;
  }
  h3, .h3 {
    font-size: 20px;
  }
}
p {
  margin: 1em 0;
}

/* rst - list ReSeT like NAV
 *
 * .rsto - reset ONE list - THIS (specificity of li = 0,0,1,0)
 * .rst  - reset all INNER lists (specificity of li = 0,0,1,1)
 *
 */
.rsto,
.rsto > * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rst,
.rst ol,
.rst ul,
.rst li,
.rst dl,
.rst dt,
.rst dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* / rst */
/* full width item (input etc) */
.fw {
  box-sizing: border-box;
  width: 100%;
}

/* / full width */
.clmn {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1140px;
}
@media only screen and (max-width: 767.98px) {
  .clmn {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.menu {
  font-family: Oranienbaum, Times, "Times New Roman", serif;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
}
.menu li {
  display: inline;
  margin-right: 20px;
}
.menu li:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 767.98px) {
  .menu {
    text-align: center;
  }
  .menu li {
    margin: 0 7px;
  }
}

/* icon */
.icon {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 1em;
  height: 1em;
  font-size: 25px;
  background-repeat: no-repeat;
  background-size: auto 300%;
}
.icon:hover {
  background-position: 0 -1em;
}
.icon--soc_inst {
  background-image: url(../i/icon--inst.png);
}
.icon--soc_fb {
  background-image: url(../i/icon--fb.png);
}
.icon--soc_vk {
  background-image: url(../i/icon--vk.png);
}

/* / icon */
.soc {
  display: flex;
}
.soc__item {
  flex-shrink: 0;
  margin-right: 5px;
}
.soc__item:last-child {
  margin-right: 0;
}

.logo {
  display: block;
  overflow: hidden;
  width: 212px;
  height: 147px;
  background: url(../i/logo.png) 0 0 no-repeat;
  background-size: 100% 100%;
  text-align: left;
  text-indent: -9999px;
}
.logo i {
  position: absolute;
}

.but {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #fe0b37;
  padding: 1em;
  color: #fff;
  background-color: #fe0b37;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s ease;
  user-select: none;
}
.but:hover, .but:focus {
  color: #fe0b37;
  background-color: #fff;
  outline: none;
}
.but--c {
  padding: 0.625em;
  min-width: 2em;
  border-color: #000;
  color: #000;
  background-color: transparent;
  font-size: 16px;
}
.but--c:hover, .but--c:focus {
  color: #fff;
  background-color: #000;
}
.but--md {
  padding: 1.2142857143em 1em;
  font-size: 14px;
}
.but--to_top {
  padding: 1em 1.25em;
  color: #fff;
  border-color: #fff;
  background: transparent;
  font-size: 12px;
  border-radius: 0;
}
.but--to_top:hover, .but--to_top:focus, .but--to_top:active {
  color: #000;
}
.but--to_top .top {
  position: relative;
  top: 1px;
  margin: 0 4px;
}

.minus {
  display: inline-block;
  width: 1em;
  height: 0.3333333333em;
  background-color: currentColor;
}

.check {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 0.2777777778em;
  background-color: currentColor;
  transform: rotate(-45deg);
}
.check:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  margin-bottom: -1px;
  width: 0.2777777778em;
  height: 0.2777777778em;
  background-color: currentColor;
}

.top {
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: 3px solid;
  border-right: none;
  border-bottom: none;
  transform: rotate(45deg);
}

.tbl {
  border: 1px solid #dedede;
  font-weight: normal;
}
.tbl th, .tbl td {
  padding: 10px;
  border: 1px solid #dedede;
}
.tbl th {
  font-size: 18px;
  background-color: #d8f0d8;
  text-transform: uppercase;
}
.tbl td {
  line-height: 1.4;
}

.lbl {
  width: 300px;
  color: #fff;
  background-color: #fe0b37;
  font-weight: normal;
  font-size: 18px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  transform-origin: 100% 100%;
  transform: translate(-95px, -50px) rotate(-40deg);
}
@media only screen and (max-width: 767.98px) {
  .lbl {
    font-size: 14px;
    transform: translate(-140px, -80px) rotate(-40deg);
  }
}

.pack {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 35px;
  border: 3px solid #dedede;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}
.pack__h {
  margin: 0;
  margin-bottom: 0.4285714286em;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;
  text-transform: none;
  text-align: center;
}
.pack__h span {
  display: block;
  font-size: 18px;
  font-weight: normal;
}
.pack__info {
  margin-top: 0.5555555556em;
  font-size: 18px;
  line-height: 1.4;
}
.pack__info dt:after {
  content: ":";
}
.pack__info dd {
  font-weight: normal;
}
.pack__in {
  margin-top: auto;
}
.pack__price_off {
  position: relative;
  margin-top: 1em;
  font-size: 20px;
  line-height: 1;
  text-align: center;
}
.pack__price_off span {
  position: relative;
}
.pack__price_off span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  right: -10px;
  height: 2px;
  background-color: #fe0b37;
  transform: rotate(-10deg);
}
.pack__price {
  margin-top: 0.48em;
  font-weight: bold;
  font-size: 25px;
  line-height: 1;
  text-align: center;
}
.pack__but {
  margin-top: 27px;
}
.pack:hover {
  border-color: #bcbcbc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 1023.98px) {
  .pack {
    padding: 20px;
    text-align: center;
  }
  .pack__h {
    margin-bottom: 0;
  }
  .pack__price, .pack__price_off {
    display: inline-block;
    margin: 0 10px;
  }
  .pack__in {
    margin-top: 10px;
  }
  .pack__but {
    margin-top: 15px;
  }
}

.head {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  color: #fff;
}
.head__in {
  display: flex;
  align-items: center;
}
.head__side {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 20px;
}
.head__soc {
  position: relative;
  top: 4px;
}
.head__contacts {
  margin-left: 80px;
  font-family: Oranienbaum, Times, "Times New Roman", serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: right;
  white-space: nowrap;
}
@media only screen and (max-width: 1279.98px) {
  .head__contacts {
    margin-left: 40px;
  }
}
@media only screen and (max-width: 1023.98px) {
  .head {
    top: 20px;
  }
}
@media only screen and (max-width: 767.98px) {
  .head__in {
    flex-wrap: wrap;
  }
  .head__in > * {
    width: 100%;
  }
  .head__side {
    padding-left: 0;
    margin-top: 10px;
  }
  .head__contacts {
    margin-left: auto;
  }
}
.head--sticky {
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 5px 0;
  background-color: #000;
  transform: translateY(-100%);
  transition: all 0.3s ease;
}
.head--sticky.is-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
@media only screen and (max-width: 767.98px) {
  .head--sticky .head__side {
    display: none;
  }
}

.foot {
  color: #fff;
  padding-bottom: 30px;
}
.foot__top {
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}
.foot__in {
  font-size: 12px;
  line-height: 1.8;
}
.foot__in p {
  margin: 0;
}
@media only screen and (max-width: 767.98px) {
  .foot__in {
    text-align: center;
  }
}

.cntr__in {
  background-color: #fff;
}

.hero {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 821px;
  padding-bottom: 161px;
  margin-bottom: -161px;
  background: url(../i/hero.jpg) 50% 100% no-repeat;
  background-size: auto 100%;
}
.hero__mission {
  margin-top: 46px;
  color: #fff;
  font-family: Oranienbaum, Times, "Times New Roman", serif;
  line-height: 1;
  text-transform: uppercase;
}
.hero__mission dt {
  margin-bottom: 0.4em;
  font-size: 20px;
  letter-spacing: 0.02em;
}
.hero__mission dd {
  color: #cdb380;
}
@media only screen and (max-width: 1279.98px) {
  .hero {
    height: 750px;
  }
}
@media only screen and (max-width: 1023.98px) {
  .hero {
    height: 700px;
    margin-bottom: -200px;
    padding-bottom: 140px;
  }
}
@media only screen and (max-width: 767.98px) {
  .hero {
    height: 650px;
    padding-bottom: 120px;
  }
  .hero__mission {
    max-width: 50%;
  }
}

.new {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.new__lbl {
  position: absolute;
  top: 0;
  left: 0;
}
.new__h {
  margin-top: 1.55em;
  margin-bottom: 1.05em;
}
.new__descr {
  width: 90%;
  margin: 0.5555555556em auto;
  max-width: 900px;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}
.new__i {
  font-size: 14px;
}
.new__i img {
  display: block;
  width: 100%;
  margin-bottom: 3px;
}
@media only screen and (max-width: 1023.98px) {
  .new__h {
    margin-bottom: 1em;
  }
  .new__descr {
    margin: 1em auto;
    line-height: 1.4;
  }
}

.how__in {
  width: 90%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
.how__inner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.how__h {
  margin-bottom: 1em;
}
.how__cont {
  font-size: 18px;
  line-height: 1.45;
}
.how__cont p {
  margin-top: 1.6666666667em;
  margin-bottom: 1.6666666667em;
}
.how__currency > * {
  vertical-align: top;
}
.how__tbl {
  margin-top: 30px;
  margin-bottom: 20px;
  overflow-y: auto;
}
.how__tbl th, .how__tbl td {
  text-align: center;
  vertical-align: top;
}
.how__tbl th:first-child,
.how__tbl td:first-child {
  text-align: left;
}
.how__tbl em {
  display: block;
  font-style: normal;
  font-size: 14px;
}
@media only screen and (max-width: 1023.98px) {
  .how__cont p {
    margin: 1em 0;
  }
}
@media only screen and (max-width: 767.98px) {
  .how__inner {
    width: auto;
  }
}

.book {
  margin-bottom: 20px;
}

.packs {
  margin-top: 100px;
  margin-bottom: 110px;
}
.packs__h {
  margin-bottom: 0.7142857143em;
  text-align: center;
}
.packs__lst {
  display: flex;
  padding: 0 5px;
}
.packs__item {
  box-sizing: border-box;
  width: 33.3333333333%;
  padding: 0 35px;
}
.packs__item > * {
  box-sizing: border-box;
  height: 100%;
}
@media only screen and (max-width: 1279.98px) {
  .packs {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .packs__item {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 1023.98px) {
  .packs__lst {
    flex-wrap: wrap;
  }
  .packs__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .packs__item:last-child {
    margin-bottom: 0;
  }
}

.process {
  padding-bottom: 70px;
}
.process__in {
  width: 90%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
.process__h {
  margin-bottom: 1.55em;
}
.process__lst > * {
  margin-bottom: 40px;
}
.process__lst > *:last-child {
  margin-bottom: 0;
}
.process__item {
  display: flex;
  align-items: center;
}
.process__i {
  flex-shrink: 0;
  width: 190px;
  margin-right: 37px;
}
.process__i img {
  display: block;
}
.process__txt {
  -ms-flex-negative: 1;
  font-size: 26px;
  line-height: 1;
}
@media only screen and (max-width: 1023.98px) {
  .process__h {
    margin-bottom: 1em;
  }
  .process__txt {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767.98px) {
  .process__h {
    margin-bottom: 1em;
  }
  .process__i {
    width: 25%;
    margin-right: 20px;
  }
  .process__txt {
    font-size: 1em;
  }
}